/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 30px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(111, 211, 222);
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(111, 211, 222);;
  border-radius: 910px;
}

/* NO IMAGES */
#no-items-text
{
  display: none;
}
#no-items-text.show
{
  display: block;
  position: absolute;
  top: 48%;
  right: 0;
  left: 0;
  bottom: 50%;
  text-align: center;
}


/* DONE POP UP */
@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
#done-pop-up {
  opacity: 0;
  position: fixed;
  bottom: 0;
  right: 0px;
  font-size: 75pt;
  z-index: 1;
  width: auto;
  display: flex;
  background-color: #1B1D23;
  padding: 0px 150px;
  color: #B5B5B5;
  border-radius: 900px;
  margin-bottom: 50px;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
  height: 200px;
}
#done-pop-up.p {
  margin-right: 15px;
}
#done-pop-up.show {
  animation: fade 2s ease-in-out;
}
.check {
  width: 125px;
  height: 125px;
  margin-top: 13px;
  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2S;
  cursor: pointer;
  background-size: contain;
  background-image: url('./app-icons/check.png');
}


/* GRID */
.grid {
  /* Add your desired styling for the grid container here */
  margin: 0 auto;
  transform-origin: top left;
}
.grid-wrapper {
  margin-top: 100px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  min-height: calc(100vh - 100px);
}
#grid-overlay {
  transition: 0.5s ease-in-out;
  z-index: 2;
  pointer-events: none;
  min-height: calc(100vh - 100px);
  top: 100px;
  position: fixed;
  width: 100%;
  background-color: #05224ded;
  opacity: 0;
  display: block;
  text-align: center;
}
#grid-overlay > div {
  margin-top: 43vh;
  font-size: 128px;
  color: white;
  font-weight: bold;
}
#grid-overlay.draghover {
  opacity: 1;
}
.grid-item {
}
.grid-image.show {
  opacity: 1; /* Transition to fully opaque */
}
@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
.grid-image {
  max-width: 500px;
  min-width: 500px;
  transform-origin: top;
  opacity: 1; /* Start with fully transparent */
  animation: fadeIn 1s ease-in-out !important; /* Transition the opacity property over 1 second */
}
.grid-image.shown {
  max-width: 500px;
  min-width: 500px;
  transform-origin: top;
  opacity: 1; /* Start with fully transparent */
  animation: inherit !important; /* Transition the opacity property over 1 second */
}
body {
  background: rgba(32, 32, 32, 1);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 40pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #949AA7;
  background: #2C313C;
}

/* HEADER */
.title {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  width: 100%;
  line-height: 5px;
}
.right-top-bar {
  display: inline-block;
  vertical-align: baseline; 
  text-align: right;
  width: inherit;
}
.header-browsing-text {
  font-size: 48px;
  font-style: italic;
  transform: translate(0px, 5px);
  width: inherit;
}
.mainApp {
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
  border: 1px solid #343B48;
  -webkit-box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.mainApp > .topBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  background-color: #1B1D23;
  -webkit-user-select: none;
}

.topBar > .titleBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  -webkit-app-region: drag;
}
.titleBar > .toggleButton:hover {
  background-color: #272C36;
}
.titleBar > .toggleButton:active{
  background-color: #4F9FEE;
}
.titleBar > img{
  margin-left: 10px;
}

.topBar > .titleBarBtns{
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 100px;
}
.titleBarBtns > .topBtn {
  width: 400px;
  height: 100px;
  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2S;
  cursor: pointer;
  background-size: contain;
}

.titleBarBtns > .topBtn:hover {
  background-color: #272C36;
}
.titleBarBtns > .topBtn:active{
  background-color: #4F9FEE;
}
.titleBarBtns > .minimizeBtn {
  background-image: url('./app-icons/icon_minimize.png');
}
.titleBarBtns > .maximizeBtn{
  background-image: url('./app-icons/icon_maximize.png');
}
.titleBarBtns > .restoreBtn{
  background-image: url('./app-icons/icon_restore.png');
}
  .titleBarBtns > .closeBtn{
  background-image: url('./app-icons/icon_close.png');
}

.mainApp > .contentArea {
  display: block;
  width: 100%;
  height: 100%;
}

/* FULL SCREEN ADJUSTMENTS */
#header.full-screen {
  display: none;
}
#grid-wrapper.full-screen {
  margin-top: 0px;
}
#grid-overlay.full-screen {
  top: 0px;
}

/* Image focus */
#img-focus-wrapper {
  background-color: #000000c7;
  transition: 0.5s ease-in-out;
  pointer-events: none;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  display: block;
  min-height: calc(100vh - 100px);
  margin-top: 100px;
}
#img-focus-wrapper.show {
  opacity: 1 !important;
}
#img-focus {
  z-index: 1;
  pointer-events: none;
  max-width: 98%;
  max-height: calc(98% - 100px);
  width: 98%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  -o-object-fit: contain;
  object-fit: contain;
  transform: translate(0, 50px);
}
#img-focus-wrapper.show > #img-focus {
  pointer-events: all;
}